<div class="dropdown">
    <a class="nav-item nav-link dropdown-toggle" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown"
        area-expanded="false">Manage</a>

    <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
        <li>
            <a class="dropdown-item" asp-controller="Administration" asp-action="ListUsers">Users</a>
        </li>
        <li>
            <a class="dropdown-item" asp-controller="Administration" asp-action="ListRoles">Roles</a>
        </li>
    </ul>
</div>