@{
	ViewBag.Title = ViewBag.Title;
}

<div class="mt-5 text-center">
	<h4>User Password successfully changed.</h4>
	<div class="mt-4">
		Back to <a asp-action="Details" asp-controller="Account" asp-route-username="@ViewBag.Username"
			class="btn btn-primary">Profile</a>
	</div>
</div>