@model ResetPasswordViewModel

@{
	ViewData["Title"] = "Reset Password";
}

<div class="container">
	<div class="card">
		<div class="d-flex justify-content-center">
			<h4>Reset Password</h4>
		</div>
		<form method="post">
			<div asp-validation-summary="All" class="text-danger"></div>
			<input hidden asp-for="@Model.Token">
			<partial name="_NewPasswordFormFields" model="Model" />
			<button type="submit" class="btn btn-primary w-100">Reset</button>
		</form>
	</div>
</div>

@section Scripts
	{
	<partial name="_ValidationScriptsPartial" />
}