@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-1 my-5">Welcome to <i class="fw-bolder">MyProfile</i></h1>
    @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
    <div class="mt-4">
        <p class="display-6 mt-3 mb-5">
            Create your Profile<br>
            Edit Profile & even Change Password with ease
        </p>
        <p class="display-6">
            Also Check others Profile
        </p>

        <div class="mt-5">
            <h2>*For Admin Login*</h2>
            <p>
                Username: admin<br>
                Password: Admin@123
            </p>
        </div>
    </div>
</div>