@model ChangePasswordViewModel

@{
	ViewData["Title"] = "Change Password";
}

<div class="container">
	<div class="card">
		<div class="d-flex justify-content-center">
			<h4>Reset Password</h4>
		</div>
		<form method="post">
			<div asp-validation-summary="All" class="text-danger"></div>
			<div class="form-floating mt-3 mb-3">
				<input asp-for="CurrentPassword" class="form-control" />
				<label asp-for="CurrentPassword"></label>
				<span asp-validation-for="CurrentPassword" class="text-danger"></span>
			</div>
			<partial name="_NewPasswordFormFields" model="Model" />
			<button type="submit" class="btn btn-primary w-100">Update</button>
		</form>
	</div>
</div>

@section Scripts
	{
	<partial name="_ValidationScriptsPartial" />
}