@model UserDetailsViewModel

@{
	ViewData["Title"] = "User Profile";
	var profilePicture = Model.GetPhoto(Model.Gender, Model.PhotoPath);
}

<div class="container mt-3">
	<h1 class="text-center">
		<b>User Profile</b>
	</h1>
	<div class="row">
		<div class="col-md-3 border-right">
			<div class="d-flex flex-column align-items-center text-center p-1">
				<img class="rounded-circle mt-1" width="150px" src="@profilePicture" alt="@Model.Username"
					 asp-append-version="true"><span class="font-weight-bold">@Model.Username</span><span> </span>
			</div>
			<div class="form-floating mt-3 mb-3">
				<input disabled asp-for="Username" class="form-control" />
				<label asp-for="Username"></label>
			</div>
		</div>
		<div class="col-md-9">
			<div class="row">
				<div class="form-floating mt-3 mb-3 col-md-6">
					<input disabled asp-for="FirstName" class="form-control" />
					<label class="ms-2" asp-for="FirstName"></label>
				</div>
				<div class="form-floating mt-3 mb-3 col-md-6">
					<input disabled asp-for="LastName" class="form-control" />
					<label class="ms-2" asp-for="LastName"></label>
					<span asp-validation-for="LastName" class="text-danger"></span>
				</div>
			</div>
			<div class="form-floating mt-3 mb-3">
				<input disabled asp-for="Email" class="form-control" />
				<label asp-for="Email"></label>
			</div>
			<div class="form-floating mt-3 mb-3">
				<input disabled asp-for="Gender" class="form-control" />
				<label asp-for="Gender"></label>
			</div>
			<div class="form-floating mt-3 mb-3">
				<input disabled asp-for="DOB" class="form-control" />
				<label asp-for="DOB"></label>
			</div>
		</div>
	</div>
	@if (Model.AllowModifications)
	{
		<div class="d-flex justify-content-center mt-3">
			<div>
				<a asp-action="Edit" asp-route-username="@Model.Username" class="btn btn-primary">Edit Profile</a>
				<a class="btn btn-primary">Change Password</a>
			</div>
		</div>
	}
</div>